
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC');
/*Homemade Apple*/
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
/*Loved by the King*/
@import url('https://fonts.googleapis.com/css?family=Loved+by+the+King');
/*Nova Round*/
@import url('https://fonts.googleapis.com/css?family=Nova+Round');
/*Berkshire Swash*/
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

/*
-----------------Notes-----------------------
Comment out section: crt + /
margin: Top Right Bottom Left;
---------------------------------------------
*/

/* Clears default padding and margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/galaxy-background-rough.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-attachment: scroll;

  color: white;

  position: relative;
  min-height: 100vh;
  /* width: 100vw; */
  /* overflow: hidden; */
  /* width: 100%; */

  font-family: sans-serif;
}

  /* Stlying entire scroll bar w/ track */
/* body::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.5);
} */

  /* Styling the scroll bar track */
/* body::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
} */

  /* Styling scroll bar */
/* body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.2);
} */

/* Navigation bar fixed to top of page*/
nav {
  top: 0;
  left: 0;
  top: -4.5rem; /* Posiyion of navbar at top of page */
  border-top: 0;
  z-index: 100;
  position: fixed;
  width: 100%; /* Full width*/
  text-transform: uppercase;
}

header.top{
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.topH {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 5rem;
  margin-top: 10rem;
  margin-bottom: 10rem; */
  height: 100vh;
}

.topH img {
  height: 15vw;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
}

a:visited {
  text-decoration: none;
}



details {
    transition: height 1s ease;
    transition: 2s;
    overflow: hidden;
}

details:not([open]) {
    transition: 1s;
    height: 4rem;
}

details:not([open]) p {
   -webkit-transition: opacity 3s ease-in-out;
}

details[open]
{
    transition: 1s;
    height: 6.5rem;

}

.commissions:hover:not([open]) {
    transform: scale(1.1);
}


summary::-webkit-details-marker {
  display: none;
}

summary:focus {
  outline-style: none;
}


.mainContainer {
  min-height: 100%;
  padding-bottom: 5rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  font-size: 1.5rem;
  /* margin-left: 10rem;
  margin-right: 10rem; */
  width: 80%;
  padding-top: 3rem;
  padding-bottom: 4rem;
  /* overflow: auto; */
}

.tag {
  padding: 7rem;
}

.indexScroll {
  width: 100%;
  background-color: black;
  height: 30rem;
}

.scrollPic {
  /* z-index: 3; */
  background-image: url('../../resources/images/EhnSainClear.png');
  background-size: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% -20%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Menu Buttons */
ul.menu {
  height: 5rem;
  list-style-type: none;
  text-align: center;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  /* overflow: hidden; */
  /* display: inline-block; */
  display: flex;
  justify-content: center;  /* centers list horizontally*/
  align-items:flex-start;      /* centers list vertically*/
}

li.menuSpacing {
  height: inherit;
  /* float: left; */
}

ul.menu li.menuSpacing a {
  height: 7rem;
  padding: 0 2rem 0.8rem 2rem;
  width: 7rem;
  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: flex-end;; /* align vertical */
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
  background-color: rgba(255, 255, 255, 0.80); /*Background color of tabs*/
}

/* Menu buttons change color and extend when hovered overflow
(Excluding the button for the current page) */
ul.menu li.menuSpacing a:hover:not(#active)  {
  transform: translateY(2.8rem);
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);
}
/* Button of current pagei is highlighted and doesn't move */
ul.menu li.menuSpacing a#active {
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(255, 255, 255);
}

.button{
  /* position: relative; */
  padding: 1rem 2rem;
  margin: 1rem 2rem 1rem 2rem;
  width: 12rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.7rem;
  text-align: center;
  display: inline-block;
  background-color: rgb(222, 11, 220);
}

a.button:hover {
  transform: scale(1.2);
}

.artworks {
  /* display: flex;
  flex-wrap: wrap; */
  /* margin-right: 0px; */
    /* box-sizing: border-box; */

}

.artworks img {

  display: block;
  float: left;
}

/* .art {
  max-height: 20rem;
  margin: 0 0.5rem;

} */

#me {
  margin-top: -8rem;
}

.ProfilePic {
  position: relative;
  top: 8rem;
  z-index: 3;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
}

.ProfilePic img {
  position: absolute;
  top: 0;
  left: -8rem;
  width: 190%;
}

.AboutMe {
  width: 50rem;
  border-radius: 2rem;;
  margin: auto;
  margin-bottom: 2.5rem;
  padding-top: 9rem;
  padding-bottom: 4rem;
  background-color: rgba(0, 0, 0, 0.75);
}

.vid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.file {
  width: 50%;
  margin-right: 1.5rem;
  /* padding-right: 2rem; */

}

.vid video {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.vidDesc {
  padding: 2rem;
  width: 50%;

  margin-left: 1.5rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 2rem;

}


#icons {
  display: inline-block;
  width: 30%;
  /* overflow: visible; */
  /* margin-left: 100rem;
  margin-right: 100rem; */
}

.commissions {
  position: relative;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 2rem;
}



.commissions summary i {
  position: absolute;
  left: 1.5rem;
  top: 0.8rem;
  font-size: 170%;
  /* padding-right: 5rem; */
}

/* .commissions summary p {
  font-size: 1.2rem;
} */


.icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1.5rem 0rem;
}

.icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 170%;
  width: 4rem;
  height: 4rem;
  /* padding: 0.2rem; */
  padding: 0rem;
  margin: 0;
  margin-right: 1rem;
  background-color: rgb(222, 11, 220);
  border-radius: 50%;
}

.icon img {
  /* heigt: 5rem; */
  height: 100%;
  border-radius: 50%;
}

.icon.thanks {
  flex-direction: column;
  padding: 2rem;
  /* margin: 0; */
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2rem;
}

.thanksName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.4rem;
  background-color: rgb(222, 11, 220);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer .logo {
  width: 5rem;
}

.footInfo {
  padding: 0.3rem 2rem 0.3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footRight {
  align-items: flex-end;
}
