
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC');
/*Homemade Apple*/
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
/*Loved by the King*/
@import url('https://fonts.googleapis.com/css?family=Loved+by+the+King');
/*Nova Round*/
@import url('https://fonts.googleapis.com/css?family=Nova+Round');
/*Berkshire Swash*/
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

.artworks {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.art {
  max-height: 20rem;
  margin: 0 0.5rem;
  /* flex-grow: 2; */
}
